VivendoByte.NewsheelGold.ViewModels/Connected Services/Service/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52885/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VivendoByte.NewshellGold.NetworkMessages.Requests" />
  <xs:import schemaLocation="http://localhost:52885/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/VivendoByte.NewshellGold.NetworkMessages.Responses" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartTimer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VivendoByte.NewshellGold.NetworkMessages.Requests" minOccurs="0" name="request" nillable="true" type="q1:StartCommunicationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/VivendoByte.NewshellGold.NetworkMessages.Responses" minOccurs="0" name="response" nillable="true" type="q2:StartCommunicationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>