VivendoByte.NewsheelGold.ViewModels/Connected Services/Service/Service31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/VivendoByte.NewshellGold.NetworkMessages.Responses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VivendoByte.NewshellGold.NetworkMessages.Responses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52885/Service.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/VivendoByte.NewshellGold.NetworkMessages.Dto" />
  <xs:import schemaLocation="http://localhost:52885/Service.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import schemaLocation="http://localhost:52885/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="StartCommunicationResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VivendoByte.NewshellGold.NetworkMessages.Dto" minOccurs="0" name="Items" nillable="true" type="q1:ArrayOfDepartment" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StartCommunicationResponse" nillable="true" type="tns:StartCommunicationResponse" />
  <xs:complexType name="BaseResponse">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="Exception" nillable="true" type="q2:Exception" />
      <xs:element minOccurs="0" name="ExecutionTime" type="ser:duration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseResponse" nillable="true" type="tns:BaseResponse" />
</xs:schema>