VivendoByte.NewsheelGold.ViewModels/Connected Services/Service/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VivendoByte.NewshellGold.NetworkMessages.Requests" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VivendoByte.NewshellGold.NetworkMessages.Requests" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="StartCommunicationRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="Milliseconds" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StartCommunicationRequest" nillable="true" type="tns:StartCommunicationRequest" />
  <xs:complexType name="BaseRequest">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="BaseRequest" nillable="true" type="tns:BaseRequest" />
</xs:schema>